.container-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    width: 11.4375rem;
    height: 2.5rem;
}


.container-user img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    border: 2px solid #6A6363;
}

.container-user h4 {
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: #FFF;
}